:root {
  --comind-background-rgb: 255, 255, 255;
  --comind-surface-rgb: 200, 200, 200;
  /* --comind-primary-rgb: 166, 111, 166;
  --comind-secondary-rgb: 138, 69, 138;
  --comind-tertiary-rgb: 138, 69, 138; */
  --comind-primary-rgb: 207, 94, 74;
  --comind-secondary-rgb: 0, 137, 200;
  --comind-tertiary-rgb: 0, 152, 119;
  --comind-md-editor-font-family: "Inter", sans-serif;
}

/* Override button font weight globally */
.navButton {
  font-weight: 300;
}

.tiptap {
  padding: 10px !important;
}

/* Override code background color */
code {
  background-color: transparent !important;
}

body {
  font-weight: 300;
}

[data-mantine-color-scheme="dark"] {
  --comind-surface-rgb: 36, 36, 36;
  --comind-background-rgb: 17, 17, 17;
}

/* Links */
a {
  color: rgb(var(--comind-foreground-rgb));
  text-decoration: underline;
  text-underline-offset: 0.1em;
}

a:hover {
  text-decoration-color: rgb(var(--comind-primary-rgb));
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

.comind-primary {
  color: rgb(var(--comind-primary-rgb));
}

.comind-secondary {
  color: rgb(var(--comind-secondary-rgb));
}

.comind-tertiary {
  color: rgb(var(--comind-tertiary-rgb));
}

.comind-logo-co {
  /* font-family: "Frontage Pro Inline"; */
  /* color: rgb(var(--comind-secondary-rgb)); */
  /* position: relative; */
  /* text-decoration: underline; */
  /* text-decoration-color: rgb(var(--comind-primary-rgb)); */
}

.comind-logo-mi {
  /* font-family: "Frontage Pro Inline"; */
  /* color: rgb(var(--comind-tertiary-rgb)); */
  /* text-decoration: underline; */
  /* text-decoration-color: rgb(var(--comind-secondary-rgb)); */
}

.comind-logo-nd {
  /* font-family: "Frontage Pro Inline"; */
  /* color: rgb(var(--comind-primary-rgb)); */
  /* text-decoration: underline; */
  /* text-decoration-color: rgb(var(--comind-tertiary-rgb)); */
}

.box {
  border: 2px solid;
  border-color: var(--mantine-color-dimmed);
  margin-top: 1rem;
  position: relative;
  border-radius: 0.75rem;
  background-color: var(--mantine-color-body);
  position: relative;
}

.box.inactive {
  border-color: transparent;
}

.box-content {
  overflow-wrap: break-word;
  /* display: inline-block; */
}

.box-title {
  position: absolute;
  top: -0.7rem;
  left: 0.5rem;
  z-index: 1;
  font-size: var(--mantine-font-size-sm);
  background-color: var(--mantine-color-body);
  border-radius: 0.25rem;
  color: var(--mantine-color-dimmed);
  /* background-color: rgb(var(--mantine-color-body)); */
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-family: monospace;
}

/* 
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: var(--mantine-color-dimmed);
  z-index: -1;
} */
