@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255,255,255;
  --surface-rgb: 200, 200, 200;
  --primary-rgb: 207, 94, 74;
  --secondary-rgb: 0, 137, 200;
  --tertiary-rgb: 0, 152, 119;
  --md-editor-font-family: "Inter", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --surface-rgb: 36, 36, 36;
    --background-rgb: 17, 17, 17;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  html,body {
      @apply bg-background font-thin ;
  }
}

/* Links */
a {
  color: rgb(var(--foreground-rgb));
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: rgba(var(--foreground-rgb), 0.8);
  text-underline-offset: 3px;
}

a:hover {
  text-decoration-color: rgb(var(--primary-rgb));
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

/* Editor styles
wmde-markdown-var
w-md-editor-content
*/

.w-md-editor-content {
  background: transparent;
}

.w-md-editor {
  @apply !bg-transparent;
  box-shadow: inherit !important;
  padding-bottom: 0 !important;
}

.w-md-editor-bar {
  @apply !bottom-0 !right-2;
}

/* Action bar */
.action-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.thought {
  @apply transition-all border-1 border-transparent rounded-lg 
    p-1 shadow-none w-full;
}

.thought:hover {
  @apply border-1 border-solid border-gray-600 bg-[rgb(--surface-rgb)] shadow-md;
}

.instruction {
  @apply text-5xl;
}

/*
Comind classes
*/
.comind-center-column {
  @apply max-w-xl p-2 flex flex-col mx-auto min-h-screen;
}

.comind-logo {
  @apply underline;
}

.comind-logo-co,
.comind-logo-mi,
.comind-logo-nd {
  @apply font-bold;
}

.comind-logo-co {
  @apply decoration-slate-300;
}

.comind-logo-mi {
  @apply decoration-slate-300;
}

.comind-logo-nd {
  @apply decoration-slate-300;
}
