:root {
  --comind-background-rgb: 255, 255, 255;
  --comind-surface-rgb: 200, 200, 200;
  /* --comind-primary-rgb: 166, 111, 166;
  --comind-secondary-rgb: 138, 69, 138;
  --comind-tertiary-rgb: 138, 69, 138; */
  --comind-primary-rgb: 207, 94, 74;
  --comind-secondary-rgb: 0, 137, 200;
  --comind-tertiary-rgb: 0, 152, 119;
  --comind-md-editor-font-family: "Inter", sans-serif;
}

body {
  font-weight: 300;
}

[data-mantine-color-scheme="dark"] {
  --comind-surface-rgb: 36, 36, 36;
  --comind-background-rgb: 17, 17, 17;
}

/* Links */
a {
  color: rgb(var(--comind-foreground-rgb));
  text-decoration: underline;
  text-underline-offset: 0.1em;
}

a:hover {
  text-decoration-color: rgb(var(--comind-primary-rgb));
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

.comind-primary {
  color: rgb(var(--comind-primary-rgb));
}

.comind-secondary {
  color: rgb(var(--comind-secondary-rgb));
}

.comind-tertiary {
  color: rgb(var(--comind-tertiary-rgb));
}

.comind-logo-co {
  /* font-family: "Frontage Pro Inline"; */
  /* color: rgb(var(--comind-secondary-rgb)); */
  /* position: relative; */
  /* text-decoration: underline; */
  /* text-decoration-color: rgb(var(--comind-primary-rgb)); */
}

.comind-logo-mi {
  /* font-family: "Frontage Pro Inline"; */
  /* color: rgb(var(--comind-tertiary-rgb)); */
  /* text-decoration: underline; */
  /* text-decoration-color: rgb(var(--comind-secondary-rgb)); */
}

.comind-logo-nd {
  /* font-family: "Frontage Pro Inline"; */
  /* color: rgb(var(--comind-primary-rgb)); */
  /* text-decoration: underline; */
  /* text-decoration-color: rgb(var(--comind-tertiary-rgb)); */
}
